{% load staticfiles %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="text-center mt-5 mb-4 rounded-pill" style="display: block; margin: 0 auto; text-align: center; max-width: 340px; margin-top: 50px;">
          <div class="p-2 w-100 bd-highlight" >
            <img src="{% static "img/l.png" %}" alt="" width="150" height="auto">
          </div>
        </div>
        <div class="text-center mt-2 mb-2" style="display: block; margin: 0 auto; text-align: center; max-width: 340px; margin-top: 50px;">
            <div class="p-2 w-100 bd-highlight" >
              <h3 href="/" >
                ONLINE | КЭСКО 
              </h3>
            </div>
          </div>
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">Страница, которую вы ищете, не найдена.</div>
                <a href="/" class="btn btn-link">На главную</a>
            </div>
        </div>
    </div>
</div>
