{% extends 'base.html' %}
{% block title %} Список камер {% endblock %}
{% block content %}

{% load staticfiles %}
{% if request.user.is_authenticated and request.user.is_superuser  %}

<div class="row">
<div class="col">
<h3 class="mt-2">Редактирование : {{cam.title}}<h3>
  <div class="modal-body">
    <form id="update_data" method="post">
      {% csrf_token %}
      {{form}}
      <a class="btn btn-primary mt-2 float-right" href="{% url 'cameras' %}">Вернуться назад</a>
      <button form="update_data" type="submit" class="btn btn-success mt-2">Обновить</button>
    </form>
  </div>
</div>
</div>
{% else %}
{% include 'includes/error.html' %}
{% endif %}
{% endblock %}