{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %} 
        <div class="camera">
          <div class="row mb-2">
              {% for cam in page_obj %}
                  {% include  '/includes/cam_template.html'%}
              {% endfor %}
          </div> 
          <nav aria-label="mt-1 Page navigation example">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li class="page-item" ><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
              {% else %}
              <li class="page-item disabled" ><a class="page-link" href="#">Назад</a></li>
              {% endif %}
  
                {% for p in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endfor %}
                
              {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
              {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Вперед</a></li>
              {% endif %}
            </ul>
          </nav>      
        </div>
{% else %}
{% include 'includes/error.html' %}
{% endif %}
{% endblock %}