{% extends 'base.html' %}
{% block content %}

  <div class="container-fluid">
      <h2 class="mb-3 text-center">
          Публичные камеры
      </h2>
          <div class="row">
              {% for cam in list_cameras_pub %}
                {% if cam.camera_type == "PU" %}
                    {% include  'includes/cam_template.html'%}
                {% endif %}
              {% endfor %}
          </div>        
        <a href="{% url 'publics' %}" style="display: block; margin: 0 auto; text-align: center; max-width: 540px; margin-top: 50px;" class="btn btn-primary">Смотреть все</a>
  </div>

    {% if request.user.is_superuser or request.user.is_staff %} 
    <div class="container-fluid">
        <h2 class="mt-5 mb-3 text-center">
            Прочие камеры
        </h2>
        <div class="row">
                {% for cam in list_cameras_priv %}
                  {% if cam.camera_type == "PR" %}
                    {% include  'includes/cam_template.html'%}
                  {% endif %}
                {% endfor %}
        </div> 
        <a href="{% url 'privats' %}" style="display: block; margin: 0 auto; text-align: center; max-width: 540px; margin-top: 50px;" class=" mb-3 btn btn-primary">Смотреть все</a>
    </div>
    {% endif %}

{% endblock %}