{% extends 'base.html' %}
{% block title%} Мой двор {% endblock %}
{% block content %}
<div class="card text-center">
  <div class="card-header">
    <h1>Внимание!</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">На вашем доме нет камер!</h5>
    <p class="card-text">К сожалению на вашем доме не обнаружены камеры наблюдения. Пожалуйста , свяжитесь с нами для уточнения возможности установки видеокамер</p>
    <a href="/" class="btn btn-primary">Вернуться на главную</a>
  </div>
  <div class="card-footer text-muted">
    Powered by <a href="http://pit.su">NetOnline</a>
  </div>
</div>
{% endblock %}



<!--div class="card text-center">
    <div class="card-header">
      <h1>Внимание!</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">На вашем доме нет камер!</h5>
      <p class="card-text">К сожалению на вашем доме не обнаружены камеры наблюдения. Пожалуйста , свяжитесь с нами для уточнения возможности установки видеокамер</p>
      <a href="/" class="btn btn-primary">Вернуться назад</a>
    </div>
    <div class="card-footer text-muted">
      Powered by <a href="http://pit.su">NetOnline</a>
    </div>

</div-->  